body{
    background-image: url(https://i.pinimg.com/originals/47/10/28/47102816721094b8eca70cf549ddb06f.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}